.tableColumnCells{
    padding: 0.8rem;
    color: var(--mantine-color-gray-9);
    font-size: .75rem;
    font-weight: 400;
    background-color: var(--mantine-color-gray-0);
}

.tableCells{
    padding: 0.85rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--mantine-color-gray-8);
}